<!-- app/views/pages/about.html.erb -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1>À propos de nous</h1>
      <p>Ici, vous pouvez en apprendre davantage sur notre histoire et nos valeurs.</p>
      <a href="<%= contact_path %>" class="btn btn-primary">Nous contacter</a>
    </div>
    <div class="col-md-6">
      <img src="https://via.placeholder.com/600x400" class="img-fluid rounded" alt="Image À propos">
    </div>
  </div>
</div>
